* {
    border: none;
    border-radius: 0;
    font-family: "Adwaita Sans", "Noto Sans", sans-serif;
    font-size: 14px;
    transition-property: background-color;
    transition-duration: 0.25s;
}

window#waybar {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.92);
}

window#waybar > box {
    padding: 2px 12px;
}

tooltip {
    background-color: rgba(10, 88, 205, 0.64);
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 14px;
}

tooltip label {
    color: rgba(0, 0, 0, 0.92);
    padding: 5px 8px;
}

.modules-left > widget > *,
.modules-right > widget > *,
#workspaces button,
#window {
    background-color: rgba(10, 88, 205, 0.42);
    color: rgba(0, 0, 0, 0.92);
    border-radius: 14px;
}

.modules-left > widget:first-child > * {
    min-width: 32px;
    min-height: 30px;
}

.modules-right > widget > * {
    min-width: 32px;
    min-height: 30px;
    font-family: "Symbols Nerd Font", "Adwaita Sans", sans-serif;
}

.modules-right > widget:nth-child(n + 4):nth-last-child(n + 4) > * {
    border-radius: 0;
    padding-right: 8px;
}

.modules-right > widget:nth-last-child(3) > * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 8px;
}

.modules-right > widget:nth-child(3) > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 8px;
}

.modules-center {
    margin-left: 8px;
    margin-right: 8px;
}

#workspaces button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.92);
    border-width: 0;
    min-width: 32px;
    padding-left: 0;
    padding-right: 0;
}

#workspaces button.active,
#workspaces button:hover {
    background-image: none;
    background-color: rgba(0, 60, 145, 0.26);
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
}

#window {
    padding: 0 8px;
}

window#waybar.empty #window {
    opacity: 0;
}

#tray {
    padding: 0 8px;
}

#clock {
    font-family: "JetBrains Mono", "Symbols Nerd Font", monospace;
    padding: 0 8px;
}

#custom-space {
    min-width: 8px;
    border: none;
    padding: 0;
    background-color: transparent;
}

#image-launcher,
#image-control-center {
    padding: 0 8px;
}
